# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij project-specific configs
.idea

# Ignore generated pacts
target

# Ignore kotlin session files
.kotlin
